
$AlphaColorSlider-background-svg: "<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><rect x='0' y='0' width='4' height='4' fill='#fff' /><rect x='4' y='0' width='4' height='4' fill='#ccc' /><rect x='4' y='4' width='4' height='4' fill='#fff' /><rect x='0' y='4' width='4' height='4' fill='#ccc' /></svg>";

.AlphaColorSlider {
    background: url("data:image/svg+xml;utf8,#{$AlphaColorSlider-background-svg}") repeat;

    &::-webkit-slider-thumb {
        background: #f00;
        border: 4px solid #fff;
        outline: 1px solid #000;
    }

    &::-moz-range-thumb {
        background: #f00;
        border: 4px solid #fff;
        outline: 1px solid #000;
    }
    &::-ms-fill-upper {
        background: #f00;
    }
    &::-ms-thumb {
        border: 4px solid #fff;
        outline: 1px solid #000;
    }
}