
$enable-rounded: false;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$red: #ea4f50;
$yellow: #ef9b50;
$green: #51af43;
$blue: #338991;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';